# Virtual environment
env/


# gRPC generated
*.pb2.py

# Environment variables and credentials
*.env
credentials.json

# Remove tracking unnecessary files
# macOS-specific files
*.DS_Store
.AppleDouble
.LSOverride